name: Tag Build

on:
  push:
    tags:
      - "v*"
      - "V*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Build
        run: ./gradlew build

      - name: Upload jars
        uses: actions/upload-artifact@v4
        with:
          name: io-client-jars
          path: build/libs/*.jar

